.pureclarity_bmz { 
	display:none; 
}
.pureclarity_bmz_clearfix {
	clear:both;
}
.pureclarity_debug { 
	border: 1px dashed #4a4a4a; 
	padding:10px; 
	text-align: center; 
	background-color:#DCF1F6; 
}
.toplevel_page_pureclarity-settings .form-table td p {
	font-size: 13px;
}